{% extends 'base.html.twig' %}

{% block body %}
    <h1>Spot</h1>

    <table>
        <tbody>
{#
            <tr>
                <th>Id</th>
                <td>{{ spot.id }}</td>
            </tr>
#}
            <tr>
                <th>Etat (Actif/Inactif)</th>
                <td>{% if spot.spotEtat %}Actif{% else %}Inactif{% endif %}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ spot.spotNom }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ spot.spotGpsLat }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ spot.spotGpsLng }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ spot.spotAdr }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                {#<td>{{ spot.spotPhoto }}</td>#}
                <td>
                    <img class="image_spot" src="{{ asset('uploads/spot/') }}{{ spot.spotPhoto }}">
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ spot.spotDesc }}</td>
            </tr>
            <tr>
                <th>Site Arrêté municipal</th>
                <td>{{ spot.spotSite }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ spot.spotLikes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_spot_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('admin_spot_edit', { 'id': spot.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
