{% extends 'base.html.twig' %}

{% block body %}
    <h1>categ</h1>

    <table>
        <tbody>
{#
            <tr>
                <th>Id</th>
                <td>{{ categ.id }}</td>
            </tr>
#}
            <tr>
                <th>Libellé</th>
                <td>{{ categ.catLib }}</td>
            </tr>
            <tr>
                <th>Pictogramme</th>
                {#<td>{{ categ.catPicto }}</td>#}
                <td>
                    <img class="image_picto_categ" src="{{ asset('uploads/picto_categ/') }}{{ categ.catPicto }}">
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_categ_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('admin_categ_edit', { 'id': categ.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
