{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table>
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Professionnel (O/N)</th>
                <th>Pseudonyme</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Société</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                {#<th>Useradr2</th>#}
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {#<td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>#}
                <td>{% if user.userPro %}Oui{% else %}Non{% endif %}</td>
                <td>{{ user.userPseudo }}</td>
                <td>{{ user.userNom }}</td>
                <td>{{ user.userPrenom }}</td>
                <td>{{ user.userSoc }}</td>
                <td>{{ user.userEmail }}</td>
                <td>{{ user.userTel }}</td>
                <td>{{ user.userAdr }}</td>
                {#<td>{{ user.userAdr2 }}</td>#}
                <td>{{ user.userCp }}</td>
                <td>{{ user.userVille }}</td>
                <td>{{ user.userPays }}</td>
                <td>{{ user.userPhoto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_user_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
