{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.userPseudo }}</h1>

    <table>
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ user.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>Professionnel (O/N)</th>
                <td>{% if user.userPro %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Pseudonyme</th>
                <td>{{ user.userPseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.userNom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.userPrenom }}</td>
            </tr>
            <tr>
                <th>Société</th>
                <td>{{ user.userSoc }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.userEmail }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.userTel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.userAdr }}</td>
            </tr>
            {#<tr>#}
                {#<th>Useradr2</th>#}
                {#<td>{{ user.userAdr2 }}</td>#}
            {#</tr>#}
            <tr>
                <th>Code postal</th>
                <td>{{ user.userCp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.userVille }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ user.userPays }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ user.userPhoto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
